﻿

/*
    override autocomplete suggestions z-index
*/

.ui-autocomplete.ui-front {
    z-index: 9999!important;
}

.nav-search .form-control {
    min-width:0!important;
}

/*.table-responsive {
    overflow-x: hidden!important;
}*/

#sender-account-options {
    width: 436px
}

#available-accounts-options {
    width: 200px
}

#receiver-account-options {
    width: 436px
}

.pad-up{
    padding-top: 200px;
}

.pad-right{
    padding-right: 100px;
}

.banner-padding {
    padding-left: 150px;
    padding-top: 100px;
    float: left;
    
}

.Incoming{
    color:darkgreen;
    font-weight: bold;
}

.Outgoing {
    color: red;
    font-weight: bold;
}

.pending {
    color: grey;
    font-weight: bold;
}

.text-body {
    color: #212529 !important;
    font-size: 600%;
    font-weight: bold;
    text-align: center;
}