﻿@model PaginatedList<UserAccountViewModel>

<div class="page-inner mt--5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Account Dashboard</h2>
                <div class="card-body">
                    <form asp-area="Identity" asp-controller="BankAccounts" asp-action="Dashboard" method="get">
                        <div class="form-actions no-color">
                            <p>
                                Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                <input type="submit" value="Search" class="btn btn-sm btn-primary btn-auto" />
                            </p>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <a asp-area="Identity" asp-controller="BankAccounts" asp-action="Dashboard" asp-route-sortOrder="@ViewData["NicknameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PageIndex">
                                            Nickname
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="BankAccounts" asp-action="Dashboard" asp-route-sortOrder="@ViewData["AccountNumberSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PageIndex">
                                            Account Number
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="BankAccounts" asp-action="Dashboard" asp-route-sortOrder="@ViewData["ClientNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PageIndex">
                                            Client Name
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="BankAccounts" asp-action="Dashboard" asp-route-sortOrder="@ViewData["CurrentBalanceSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PageIndex">
                                            Current Balance
                                        </a>
                                    </th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nickname</td>
                                            <td>@item.AccountNumber</td>
                                            <td>@item.ClientName</td>
                                            <td>@item.CurrentBalance</td>
                                            <td>
                                                <div class="form-button-action">

                                                    <button type="button" data-id="@item.AccountId" data-name="@item.Nickname" title="Rename Account" class="button-rename-account btn btn-link btn-primary btn-lg" data-original-title="Rename Account">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <span id="renameContainer">
                                                    </span>
                                                    <button type="button" data-account-number="@item.AccountNumber" title="Make Payment" class="button-make-preloaded-payment btn btn-link btn-primary btn-lg" data-original-title="Make Payment">
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                    <span id="paymentContainer">
                                                    </span>
                                                    <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-accountId="@item.AccountId" data-toggle="tooltip" title="View Transactions" class="button-view-account-transaction btn btn-link btn-primary btn-lg">
                                                        <i class="fa fa-wallet"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">
                                            <h5>There are no accounts for this user.</h5>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <a asp-area="Identity"
                       asp-controller="BankAccounts"
                       asp-action="Dashboard"
                       asp-route-currentPage="1"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @prevDisabled">
                        First Page
                    </a>
                    <a asp-area="Identity"
                       asp-controller="BankAccounts"
                       asp-action="Dashboard"
                       asp-route-currentPage="@(Model.PageIndex - 1)"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @prevDisabled">
                        Prev
                    </a>
                    @if (Model.HasPreviousPage)
                    {
                        <a asp-area="Identity"
                           asp-controller="BankAccounts"
                           asp-action="Dashboard"
                           asp-route-currentPage="@(Model.PageIndex-1)"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @prevDisabled">
                            @(Model.PageIndex - 1)
                        </a>
                    }
                    <button class="btn btn-sm btn-primary btn-auto">@Model.PageIndex</button>
                    @if (Model.HasNextPage)
                    {
                        <a asp-area="Identity"
                           asp-controller="BankAccounts"
                           asp-action="Dashboard"
                           asp-route-currentPage="@(Model.PageIndex+1)"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @nextDisabled">
                            @(Model.PageIndex + 1)
                        </a>
                    }
                    <a asp-area="Identity"
                       asp-controller="BankAccounts"
                       asp-action="Dashboard"
                       asp-route-currentPage="@(Model.PageIndex + 1)"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @nextDisabled">
                        Next
                    </a>
                    <a asp-area="Identity"
                       asp-controller="BankAccounts"
                       asp-action="Dashboard"
                       asp-route-currentPage="@(Model.TotalPages)"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @nextDisabled">
                        Last Page
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
