﻿@model PaginatedTransactionsViewModel

<div class="page-inner mt--5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @if (@Model.CurrentAccountId == null)
                {
                    <h2 class="text-center">All Transactions</h2>
                }
                else
                {
                    <h2 class="text-center">Transactions for account @Model.CurrentAccountNickname</h2>
                }
                <div class="card-body">
                    <div class="row">
                        <div class="form-actions no-color col-md-5">
                            <form asp-area="Identity" asp-controller="Transactions" asp-action="Index" method="get">
                                Search for transaction: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                <input type="submit" value="Search" class="btn btn-sm btn-primary btn-auto" />
                            </form>
                        </div>
                        <select id="available-accounts-options" asp-for="CurrentAccountId" class="col-md-3">
                            @if (Model.CurrentAccountNumber != null)
                            {
                                <option value="@Model.CurrentAccountId" selected="selected">@Model.CurrentAccountNickname</option>
                            }
                        </select>
                        <button type="button" data-account-number="#" title="Make Payment" class="button-make-preloaded-payment btn btn-primary btn-round float-md-right col-md-2 offset-1" data-original-title="Make Payment">
                            Make Payment <i class="fa fa-arrow-circle-right"></i>
                        </button>
                        <span id="paymentContainer">
                        </span>
                    </div>
                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-sortOrder="@ViewData["SenderAccountNumberSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PagedTransactions.PageIndex" asp-route-accountId="@Model.CurrentAccountId">Sender Account</a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-sortOrder="@ViewData["SenderClientNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PagedTransactions.PageIndex" asp-route-accountId="@Model.CurrentAccountId">Sender Client</a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-sortOrder="@ViewData["ReceiverAccountNumberSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PagedTransactions.PageIndex" asp-route-accountId="@Model.CurrentAccountId">Receiver Account</a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-sortOrder="@ViewData["ReceiverClientNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PagedTransactions.PageIndex" asp-route-accountId="@Model.CurrentAccountId">Receiver Client</a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PagedTransactions.PageIndex" asp-route-accountId="@Model.CurrentAccountId">Description</a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PagedTransactions.PageIndex" asp-route-accountId="@Model.CurrentAccountId">Amount</a>
                                    </th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-sortOrder="@ViewData["CreatedOnSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PagedTransactions.PageIndex" asp-route-accountId="@Model.CurrentAccountId">Timestamp</a>
                                    </th>
                                    <th>Incoming/Outgoing</th>
                                    <th>
                                        <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentPage="@Model.PagedTransactions.PageIndex" asp-route-accountId="@Model.CurrentAccountId">Status</a>
                                    </th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PagedTransactions.Count() > 0)
                                {
                                    @foreach (var item in Model.PagedTransactions)
                                    {
                                        var transactionStatus = item.Status == "Saved" ? "saved" : "sent";
                                        var transactionIdentifier = item.IsIncoming ? "Incoming" : "Outgoing";
                                        <tr class="@transactionStatus">
                                            @if (item.CurrentAccountId == item.SenderId)
                                            {
                                                <td>@item.CurrentAccountNumber / @item.CurrentAccountNickname</td>
                                            }
                                            else
                                            {
                                                <td>@item.SenderAccountNumber </td>
                                            }
                                            <td>@item.SenderClientName</td>
                                            @if (item.CurrentAccountId == item.ReceiverId)
                                            {
                                                <td>@item.CurrentAccountNumber / @item.CurrentAccountNickname</td>
                                            }
                                            else
                                            {
                                                <td>@item.ReceiverAccountNumber</td>
                                            }
                                            <td>@item.ReceiverClientName</td>
                                            <td>@item.Description</td>
                                            <td>@item.Amount</td>
                                            <td>@item.CreatedOn</td>
                                            @if (item.Status == "Sent")
                                            {
                                                <td class="@transactionIdentifier">@transactionIdentifier</td>
                                            }
                                            else
                                            {
                                                <td class="pending">Pending</td>
                                            }
                                            <td>@item.Status</td>

                                            <td>
                                                @if (item.Status == "Saved")
                                                {
                                                    <div class="form-button-action">
                                                        <button type="button" data-id="@item.Id" title="Edit Transaction" class="button-edit-transaction btn btn-link btn-primary btn-lg" data-original-title="Edit Transaction">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <span id="editContainer">
                                                        </span>
                                                        <button type="button" data-id="@item.Id" data-name="#" title="Send Transaction" class="button-send-saved-transaction btn btn-link btn-primary btn-lg" data-target="#rename" data-original-title="Send Transaction">
                                                            <i class="fa fa-long-arrow-alt-right"></i>
                                                        </button>
                                                        <span id="sendContainer">
                                                        </span>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10">
                                            <h5>There are no transactions to show.</h5>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    @{
                        var prevDisabled = !Model.PagedTransactions.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.PagedTransactions.HasNextPage ? "disabled" : "";
                    }
                    <a asp-area="Identity"
                       asp-controller="Transactions"
                       asp-action="Index"
                       asp-route-accountId="@Model.CurrentAccountId"
                       asp-route-currentPage="1"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @prevDisabled">
                        First Page
                    </a>
                    <a asp-area="Identity"
                       asp-controller="Transactions"
                       asp-action="Index"
                       asp-route-accountId="@Model.CurrentAccountId"
                       asp-route-currentPage="@(Model.PagedTransactions.PageIndex - 1)"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @prevDisabled">
                        Prev
                    </a>
                    @if (Model.PagedTransactions.HasPreviousPage)
                    {
                        <a asp-area="Identity"
                           asp-controller="Transactions"
                           asp-action="Index"
                           asp-route-accountId="@Model.CurrentAccountId"
                           asp-route-currentPage="@(Model.PagedTransactions.PageIndex - 1)"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-sm btn-lighter btn-auto transaction-pagination-button">
                            @(Model.PagedTransactions.PageIndex - 1)
                        </a>
                    }
                    <button class="btn btn-sm btn-primary btn-auto">@Model.PagedTransactions.PageIndex</button>
                    @if (Model.PagedTransactions.HasNextPage)
                    {
                        <a asp-area="Identity"
                           asp-controller="Transactions"
                           asp-action="Index"
                           asp-route-accountId="@Model.CurrentAccountId"
                           asp-route-currentPage="@(Model.PagedTransactions.PageIndex + 1)"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-sm btn-lighter btn-auto transaction-pagination-button">
                            @(Model.PagedTransactions.PageIndex + 1)
                        </a>
                    }
                    <a asp-area="Identity"
                       asp-controller="Transactions"
                       asp-action="Index"
                       asp-route-accountId="@Model.CurrentAccountId"
                       asp-route-currentPage="@(Model.PagedTransactions.PageIndex + 1)"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @nextDisabled">
                        Next
                    </a>
                    <a asp-area="Identity"
                       asp-controller="Transactions"
                       asp-action="Index"
                       asp-route-accountId="@Model.CurrentAccountId"
                       asp-route-currentPage="@Model.PagedTransactions.TotalPages"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-sm btn-lighter btn-auto transaction-pagination-button @nextDisabled">
                        Last Page
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
