﻿<div class="page-inner mt--5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Accounts Balances</h2>
                <div class="card-body">
                    <canvas id="chart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
