﻿@model CreateTransactionViewModel

<div class="modal fade" id="preloadedPayment" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Make
                    </span>
                    <span class="fw-mediumbold">
                        Payment
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="create-payment-form">
                <div class="modal-body">
                    <p class="small" id="nameOfAccount"></p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Account from which the payment will be made:</label>
                                <select id="sender-account-options" asp-for="SenderAccountNumber">
                                    @if (Model != null)
                                    {
                                        <option value="@Model.SenderAccountNumber" selected="selected">@Model.SenderNickname</option>
                                    }
                                </select>
                                <span asp-validation-for="SenderAccountNumber" class="text-danger"></span>
                                @Html.AntiForgeryToken()
                            </div>
                            <div class="form-group form-group-default">
                                <label>Sender account's client:</label>
                                <input type="text" asp-for="SenderClientName" id="selected-sender-client" class="form-control" placeholder="Sender Client Name" readonly />
                            </div>
                            <div class="form-group form-group-default">
                                <label>Receiver account:</label>
                                <select id="receiver-account-options" asp-for="ReceiverAccountNumber"></select>
                                <span asp-validation-for="ReceiverAccountNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Receiver account's client:</label>
                                <input type="text" asp-for="ReceiverClientName"  id="selected-receiver-client" class="form-control" placeholder="Receiver Client Name" readonly />
                                <span asp-validation-for="ReceiverClientName" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Description:</label>
                                <input type="text" asp-for="Description" class="form-control" placeholder="Description" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Amount:</label>
                                <input type="text" asp-for="Amount" class="form-control" placeholder="Amount" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-bd">
                    <button id="submit-payment-button" type="submit" class="btn btn-primary">Send</button>
                    <button id="save-payment-button" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
