﻿@model RenameAccountViewModel

<div class="modal fade" id="rename" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Rename
                    </span>
                    <span class="fw-mediumbold">
                        Account
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="rename-form">
                    <p class="small">Rename "@Model.Nickname" account</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Nickname</label>
                                <input type="text" asp-for="Nickname" class="form-control" placeholder="Nickname" />
                                <span asp-validation-for="Nickname" class="text-danger"></span>
                                <input type="hidden" asp-for="AccountId">
                                @Html.AntiForgeryToken()
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-bd">
                        <button id="submit-rename-button" type="submit" class="btn btn-primary">Rename</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}