﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bulgaria Bank</title>
    <!-- Fonts and icons -->
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/atlantis.min.css">
    <link rel="stylesheet" href="~/assets/css/form.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />


</head>

<body style="background-color:#d6eaed">
    <main role="main" class="pb-3">
        <div class="wrapper">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="main-header">

                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="blue">

                        <a asp-area="Identity" asp-controller="Home" asp-action="Index" class="logo">
                            <img src="~/logo/BLogo1.png" alt="navbar brand" class="navbar-brand">
                        </a>

                        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="icon-menu"></i>
                            </span>
                        </button>
                        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="icon-menu"></i>
                            </button>
                        </div>
                    </div>

                    <!-- End Logo Header -->
                    <!-- Navbar Header -->

                    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue">

                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                                <li class="nav-item dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                        <div class="avatar-sm">
                                            <img src="/assets/img/coinbag_profile.png" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="avatar-lg"><img src="~/assets/img/coinbag_profile.png" alt="image profile" class="avatar-img rounded"></div>
                                                    <div class="u-text">
                                                        <h4>@User.Identity.Name</h4>
                                                    </div>
                                                    <form asp-area="Identity" asp-controller="Account" asp-action="Logout" method="post">
                                                        <button type="submit" class="dropdown-item" style="float:inherit">Logout</button>
                                                    </form>
                                                </div>
                                            </li>

                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </nav>

                    <!-- End Navbar -->
                </div>
            }

            <!-- Sidebar -->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="sidebar">
                    <div class="sidebar-wrapper scrollbar scrollbar-inner">
                        <div class="sidebar-content">
                            <div class="user">
                                <div class="info">
                                    <div class="card-title">
                                        <h4>Hello,</h4>
                                        <h6> @User.Identity.Name</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <ul class="nav nav-primary">

                                <li class="nav-section">
                                    <span class="sidebar-mini-icon">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                    <h4 class="text-section">Actions</h4>
                                </li>
                                <li class="nav-item">
                                    <div id="base">
                                        <ul>
                                            <li>
                                                <a asp-area="Identity" asp-controller="BankAccounts" asp-action="Dashboard">
                                                    <span><i class="fa fa-home"></i> Account Dashboard</span>

                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="Identity" asp-controller="Transactions" asp-action="Index" class="sub-item">
                                                    <span><i class="fa fa-money-bill"></i>Transaction Page</span>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            }
            <!-- End Sidebar -->
            @RenderBody()
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>

    <!--   Core JS Files   -->
   
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>



    <!-- jQuery Scrollbar -->
    <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
   
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- jQuery Sparkline -->
    <script src="/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Atlantis JS -->
    <script src="/assets/js/atlantis.min.js"></script>

    <!-- My Script-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/Pagination.js"></script>
    <script src="~/assets/js/accountFilteringOptions.js"></script>
    <script src="~/assets/js/accountTransactionOptions.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
