﻿@model PaginatedList<UserAccountViewModel>

@{
    ViewData["Title"] = "Account Dashboard";
}


<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">

                </div>
            </div>
        </div>
        <div id="dashboard-partial">
            @await Html.PartialAsync("_DashboardPartial")
        </div>
        @if (Model.Count > 1)
        {
            <div id="pie-chart">
                @await Html.PartialAsync("_PieChartPartial")
            </div>
        }
    </div>
</div>


@section Scripts{
    <script src="~/assets/js/accountsChart.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

