﻿@using Bulgaria_Bank.Models


@if (User.Identity.IsAuthenticated)
{
    <form asp-area="Identity" asp-controller="Authentication" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hi @User.Identity.Name</a>
            </li>
            <li>
                <button type="submit" class="btn btn-border-w navbar-form navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right" role="navigation">
        <li><a asp-area="Identity" asp-controller="Authentication" asp-action="Login">Log in</a></li>
    </ul>
}
