﻿@model int
@{
    ViewData["Title"] = "Error";
}

@{
    switch (Model)
    {
        case 400:
            ViewData["Icon"] = "fa fa-ban text-danger";
            ViewData["Title"] = "Error 400";
            ViewData["Description"] = "Your browser sent a request that this server could not understand.";
            break;
        case 401:
            ViewData["Icon"] = "fa fa-ban text-danger";
            ViewData["Title"] = "Error 401";
            ViewData["Description"] = "Sorry, but the page requires authentication.";
            break;
        case 403:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = "No, no, no!";
            ViewData["Description"] = "Sorry, but you don't have permission to access this page.";
            break;
        case 404:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = "Error 404";
            ViewData["Description"] = "Sorry, but the page you were looking for can't be found.";
            break;
        default:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = $"Error {Model}";
            ViewData["Description"] = "Well, this is embarrassing. An error occurred while processing your request. Rest assured, this problem has been logged and hamsters have been released to fix the problem.";
            break;
    }
}

<div class="row">
    @if (Model == 403)
    {
        <img src="https://media1.giphy.com/media/j0E4a68FajlMA/giphy.gif" class="col-md-6 align-self-center" />
    }
    else
    {
        <img src="https://bit.ly/2Fbv6Aj" class="col-md-6 align-self-center" />
    }
    <div class="col-md-6 align-self-center">
        <div class="text-body">@ViewData["Title"]</div>
        <div class="text-center">
            <p>
                @ViewData["Description"]
            </p>
            <a asp-area="Identity" asp-controller="BankAccounts" asp-action="Dashboard" class="btn-lg btn-primary">Back to home page</a>
        </div>
    </div>
</div>

