﻿@model AdminLoginModel


<div class="modal-dialog" role="document">
    <div class="modal-content row bg-primary-gradient">
        <div class="modal-header no-bd bg-danger-gradient">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="modal-title">
                        <span class="fw-mediumbold" style="color:aliceblue">
                            Restricted Area
                        </span>
                    </h2>
                </div>
            </div>
        </div>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" id="submit-client-form" method="post">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <p style="color:aliceblue">Administrator Login Form</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-default">
                            <label>Userame</label>
                            <div id="Tokken-field" class="hidden">@Html.AntiForgeryToken()</div>
                            <input asp-for="UserName" class="form-control" value="Administrator" placeholder="UserName" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group form-group-default">
                            <label>Password</label>
                            <div id="Tokken-field" class="hidden">@Html.AntiForgeryToken()</div>
                            <input asp-for="PasswordHash" class="form-control" value="P@sw0rd" placeholder="Password" />
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-success btn-block btn-lg">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

