﻿@model UserListViewModel


<section style="height: 569px">
    <div class="bg" style="background:#7691f1">
        <div class="page-inner mt--5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Users operate with account @Model.AccountViewModel.AccountNumber</h2>

                        <div class="table-responsive">
                            <div class="col-sm-12 col-md-5">    
                                <form class="navbar-left navbar-form nav-search mr-md-3" id="user-attach-to-account" asp-antiforgery="true" method="post">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="submit" class="btn btn-search pr-1">
                                                <i class="fa fa-search search-icon"></i>
                                            </button>
                                        </div>
                                        <input type="text" name="userName" id="user-target-search" placeholder="Attach user " class="form-control">
                                        <input type="number" name="accountNumber" id="acount-number-to-attach-user" value="@Model.AccountViewModel.AccountNumber" accountID="@Model.AccountViewModel.Id" class="form-control" readonly>
                                    </div>
                                </form>
                            </div>
                            <table id="ClientTable" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th style="width: 10%">Unattach</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.UsersList)
                                    {
                                        <tr>
                                            <td>@user.Username</td>
                                            <td>@user.FirstName </td>
                                            <td>@user.LastName</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a asp-area="Administration" asp-controller="Home" asp-action="UnattachUser" asp-route-userName="@user.Username" asp-route-accountNumber="@Model.AccountViewModel.AccountNumber" value="@Model.AccountViewModel.AccountNumber" style="border:none" data-toggle="tooltip" title="" class="user-UNATTACH-to-account btn btn-link btn-danger" id="remove-user-from-account" data-original-title="Remove">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-5 col-lg-5">
    @if (Model.PreviousPage != null)
    {
        <b class="btn btn-sm btn-lighter btn-auto previous-users-pagination-button-table" name="@Model.AccountViewModel.AccountNumber" previous="@Model.PreviousPage PrevPage">Prev</b>
        <b class="btn btn-sm btn-lighter btn-auto previous-users-pagination-button-table" name="@Model.AccountViewModel.AccountNumber" previous="@Model.PreviousPage">@Model.PreviousPage</b>
    }
    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrentPage</button>
    @if (Model.NextPage != null)
    {
        <b class="btn btn-sm btn-lighter btn-auto next-users-pagination-button-table" name="@Model.AccountViewModel.AccountNumber" next="@Model.NextPage">@Model.NextPage</b>
        <b class="btn btn-sm btn-lighter btn-auto next-users-pagination-button-table" name="@Model.AccountViewModel.AccountNumber" next="@Model.NextPage">Next</b>
    }
</div>



