﻿@model UserAddViewModel

<div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        New
                    </span>
                    <span class="fw-mediumbold">
                        Account
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="submit-user-account-form" asp-area="Administration" asp-controller="Home" asp-action="CreateUser">
                <div class="modal-body">
                    <p class="small">Create a new account for client using this form</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>First name</label>
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="fill first name">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Last name</label>
                                <input asp-for="LastName" type="text" class="form-control" placeholder="fill last name">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Username</label>
                                <input asp-for="Username" type="text" class="form-control" placeholder="fill username">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Password</label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="fill password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="fill confirm password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-bd">
                    <button type="submit" id="addUserButton" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

