﻿@model BannerViewModel

<div class="modal fade" id="addBanner" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        New Banner
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="submit-banner-form" asp-area="Administration" asp-controller="Banners" asp-action="AddBanner" enctype="multipart/form-data">
                <div class="modal-body">
                    <p class="small">Add a new banner using this form</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <div class="form-group">
                                    <input asp-for="BannerFile" name="BannerFile" type="file" class="btn-border" />
                                    <span asp-validation-for="BannerFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Banner Name</label>
                                <input asp-for="BannerName" type="text" class="form-control" placeholder="fill banner name">
                                <span asp-validation-for="BannerName" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Link Url</label>
                                <input asp-for="LinkUrl" type="text" class="form-control" placeholder="fill link url">
                                <span asp-validation-for="LinkUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Start date</label>
                                <input asp-for="StartDate" id="date" data-provide="datepicker" class="form-control" placeholder="mm.dd.yyyy">
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Days to be active</label>
                                <input asp-for="DaysToBeActive" type="text" class="form-control" placeholder="fill number">
                                <span asp-validation-for="DaysToBeActive" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer no-bd">
                    <button type="submit" id="" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


