﻿@model BannerListViewModel


<section style="height: 569px">
    <div class="bg-info-gradient">
        <div class="page-inner mt--5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                        <h2 class="text-center">Banners Dashboard</h2>

                        <div class="table-responsive">
                            <div class="col-sm-12 col-md-5">
                            </div>
                            <table id="BannersTable" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Banner name</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        <th style="width: 10%">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var banner in Model.BannersList)
                                    {
                                        <tr>
                                            <td>@banner.BannerName</td>
                                            <td>@banner.StartDate.ToShortDateString()</td>
                                            <td>@banner.EndDate.ToShortDateString()</td>
                                            <td>
                                                <div class="form-button-action">

                                                    <button type="button" data-id="@banner.Id" title="Remove Banner" class="button-remove-banner btn btn-link btn-danger btn-lg" data-original-title="Edit Transaction" data-toggle="modal" data-target="#confirm-banner-remove">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                    <div class="modal fade" id="confirm-banner-remove" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header no-bd">
                                                                    <h5 class="modal-title">
                                                                        <span class="fw-mediumbold">
                                                                            Remove Banner
                                                                        </span>
                                                                    </h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <form id="submit-client-form">
                                                                    <div class="modal-body">
                                                                        <p class="small">Are you sure you want to remove this banner?</p>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group form-group-default">
                                                                                    <label>@banner.BannerName</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer no-bd" id="bahti">
                                                                        <a asp-area="Administration" asp-controller="Banners" asp-action="RemoveBanner" asp-route-bannerId="@banner.Id" id="button-remove-banner-confirm" class=" btn btn-primary">Remove</a>
                                                                        <button type="button" class="btn btn-danger" id="BLABLA" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-5 col-lg-5">
    @if (Model.PreviousPage == null)
    {
        var disabled = "disabled";
        <b class="btn btn-sm btn-lighter btn-auto" previous="@disabled">Prev</b>
    }
    @if (Model.PreviousPage != null)
    {
        <b class="btn btn-sm btn-lighter btn-auto previous-banners-pagination-button-table" previous="@Model.PreviousPage PrevPage">Prev</b>
        <b class="btn btn-sm btn-lighter btn-auto previous-banners-pagination-button-table" previous="@Model.PreviousPage">@Model.PreviousPage</b>
    }
    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrentPage</button>
    @if (Model.NextPage == null)
    {
        var disabled = "disabled";
        <b class="btn btn-sm btn-lighter btn-auto" previous="@disabled">Next</b>
    }
    @if (Model.NextPage != null)
    {
        <b class="btn btn-sm btn-lighter btn-auto next-banners-pagination-button-table" next="@Model.NextPage">@Model.NextPage</b>
        <b class="btn btn-sm btn-lighter btn-auto next-banners-pagination-button-table" next="@Model.NextPage">Next</b>
    }
</div>
