﻿<section>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Actions</h4>
                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addClientModal">
                        <i class="fa fa-plus"></i>
                        Add New Client
                    </button>
                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addAccountModal">
                        <i class="fa fa-plus"></i>
                        Add New Account
                    </button>
                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#createUser">
                        <i class="fa fa-plus"></i>
                        Add New User
                    </button>
                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addBanner">
                        <i class="fa fa-plus"></i>
                        Add New Banner
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>
