﻿@model ClientsListViewModel


<section style="height: 569px">
    <div class="bg-primary-gradient">
        <div class="page-inner mt--5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                        <h2 class="text-center">Clients Dashboard</h2>

                        <div class="table-responsive">
                            <div class="col-sm-12 col-md-5">
                                <form class="navbar-left navbar-form nav-search mr-md-3" id="submit-client-search-form">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="submit" class="btn btn-search pr-1">
                                                <i class="fa fa-search search-icon"></i>
                                            </button>
                                        </div>
                                        <input type="text" id="client-input-for-clients-dashboard" placeholder="Go to client accounts" class="form-control">
                                    </div>
                                </form>
                            </div>
                            <table id="ClientTable" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Client name</th>
                                        <th>Account count</th>
                                        <th>Total amount</th>
                                        <th style="width: 14%">Go to accounts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var client in Model.ClientList)
                                    {
                                        <tr>
                                            <td>@client.Name</td>
                                            <td>@client.AcountsCount</td>
                                            <td>@client.TotalAmount</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a asp-area="Administration" asp-controller="Home" asp-action="GetAccounts" asp-route-clientName="@client.Name" style="border:none" data-toggle="tooltip" title="" class="goToAccount btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-5 col-lg-5">
    @if (Model.PreviousPage == null)
    {
        var disabled = "disabled";
        <b class="btn btn-sm btn-lighter btn-auto" previous="@disabled">Prev</b>
    }
    @if (Model.PreviousPage != null)
    {
        <b class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" previous="@Model.PreviousPage">Prev</b>
        <b class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" previous="@Model.PreviousPage">@Model.PreviousPage</b>
    }
    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrentPage</button>
    @if (Model.NextPage == null)
    {
        var disabled = "disabled";
    <b class="btn btn-sm btn-lighter btn-auto" previous="@disabled">Next</b>
    }
    @if (Model.NextPage != null)
    {
        <b class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" next="@Model.NextPage">@Model.NextPage</b>
        <b class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" next="@Model.NextPage">Next</b>
    }
</div>
