﻿@model AccountListViewModel

<section style="height: 569px">
    <div class="bg" style="background:#00b2ee">
        <div class="page-inner mt--5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Accounts Dashboard</h2>
                        <div class="table-responsive">
                            <div class="col-sm-12 col-md-5">
                                <form class="navbar-left navbar-form nav-search mr-md-3" id="submit-accounts-search-form">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="submit" class="btn btn-search pr-1">
                                                <i class="fa fa-search search-icon"></i>
                                            </button>
                                        </div>
                                        <input type="text" id="account-input-for-user-dashboard" accountNumber="@Model.ClientName" placeholder="Go to account users" class="form-control">
                                    </div>
                                </form>
                            </div>
                            <table id="add-row" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Client name</th>
                                        <th>Account number</th>
                                        <th>Users count</th>
                                        <th>Total amount</th>
                                        <th style="width: 10%">Go to users</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var client in Model.AccountList)
                                    {
                                        <tr>
                                            <td>@client.Client</td>
                                            <td>@client.AccountNumber</td>
                                            <td>@client.Users</td>
                                            <td>@client.CurrentBalance</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a asp-area="Administration" asp-controller="Home" asp-action="ListUsers" asp-route-accountName="@client.AccountNumber" style="border:none" class="Go-to-account-users btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                   
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-5 col-lg-5">

        @if (Model.PreviousPage == null)
        {
            var disabled = "disabled";
            <b class="btn btn-sm btn-lighter btn-auto" previous="@disabled">Prev</b>
        }
        @if (Model.PreviousPage != null)
        {
            <b class="btn btn-sm btn-lighter btn-auto previous-account-pagination-button-table" previous="@Model.PreviousPage" name="@Model.ClientName">Prev</b>
            <b class="btn btn-sm btn-lighter btn-auto previous-account-pagination-button-table" previous="@Model.PreviousPage" name="@Model.ClientName">@Model.PreviousPage</b>
        }
        <button class="btn btn-sm btn-primary btn-auto">@Model.CurrentPage</button>
        @if (Model.NextPage == null)
        {
            var disabled = "disabled";
        <b class="btn btn-sm btn-lighter btn-auto" previous="@disabled">Next</b>
        }
        @if (Model.NextPage != null)
        {
            <b class="btn btn-sm btn-lighter btn-auto next-account-pagination-button-table" next="@Model.NextPage" name="@Model.ClientName">@Model.NextPage</b>
            <b class="btn btn-sm btn-lighter btn-auto next-account-pagination-button-table" next="@Model.NextPage" name="@Model.ClientName">Next</b>
        }
    </div>
</div>

