﻿@model BannerViewModel

<div class="modal fade" id="confirm-banner-remove" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                       Remove Banner
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="submit-client-form">
                <div class="modal-body">
                    <p class="small">Are you sure you want to remove this banner?</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>@Model.BannerName</label>
                                <div id="Tokken-field" class="hidden">@Html.AntiForgeryToken()</div>
                                <input asp-for="Id" type="hidden" class="form-control">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-bd">
                    <button type="submit" id="addClientButton" class="btn btn-primary">Remove</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>