﻿@model UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}


<div class="container h-100">
    <div class="row h-100 justify-content-center align-self-center">
        @if (Model.Banner != null)
        {
            <div class="col-md-6 align-self-center">
                <a href="@Model.Banner.LinkUrl" target="_blank"><img src="~/BannersImage/@Model.Banner.ImagePath" alt="@Model.Banner.ImagePath" style="height:auto;width:100%;border-radius: 25px;" /></a>
            </div>
        }
        <div class="col-md-6 align-self-center">
            <div class="form-group">
                <h1>Login</h1>
                <hr />
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input asp-for="Username" class="form-control" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="PasswordHash">Password</label>
                        <input asp-for="PasswordHash" class="form-control" placeholder="Password" />
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-round btn-b" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
