﻿@model UserLoginViewModel


<section class="module">
    <div class="container">
        <div class="col-md-8">
            <div class="col-sm-5 col-sm-offset-2 mb-sm-20">
                <div class="text-center">
                    <h1 class="font-alt title">Login</h1>
                </div>
                <hr class="divider-w mb-10">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Username" class="form-control" placeholder="UserName" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="PasswordHash" class="form-control" placeholder="Password" />
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <div class="form-group">
                            <button class="btn btn-round btn-b">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

      


    </div>
</section>
