﻿
@{
    ViewData["Title"] = "Transaction Page";
}

<body>
    <div class="main-panel">
        <div class="content">
            <div class="panel-header bg-primary-gradient">
                <div class="page-inner py-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    </div>
                </div>
            </div>
            <div id="transaction-partial">
                @await Html.PartialAsync("_IndexPartial")
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

