﻿@model AdminHomeViewModel


<body>

    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="blue">
                <a href="#" class="logo">
                    <img src="~/logo/BLogo1.png" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="/assets/img/profile.jpg" alt="image profile" class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <h4>Administrator</h4>
                                            <p class="text-muted">administrator@bb.com</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <form asp-area="Administration" asp-controller="Account" asp-action="Logout">
                                        <button type="submit" class="dropdown-item">Logout </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <div class="card-title">
                                <h4> Hello,</h4>
                                <h6>Administrator</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <ul class="nav nav-primary">

                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Actions</h4>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#base">
                                <i class="fas fa-pencil-alt"></i>
                                <p>Add</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="base">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#addClientModal">
                                            <i class="fas fa-user-tie"></i>
                                            <p>Add New Client</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#addAccountModal">
                                            <i class="fas fa-dollar-sign"></i>
                                            <p>Add New Account</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#createUser">
                                            <i class="fas fa-user"></i>
                                            <p>Add New User</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#addBanner">
                                            <i class="fas fa-image"></i>
                                            <p>Add New Banner</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" id="show-all-clients">
                                <i class="fas fa-search"></i>
                                <p>Show All Clients</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" id="show-all-banners">
                                <i class="fas fa-search"></i>
                                <p>Show All Banners</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                <div class="panel-header bg-primary-gradient">
                    <div class="page-inner py-3">
                    </div>
                </div>
                <div class="page-inner mt--5">
                    <div>
                        @await Html.PartialAsync("_ButtonsPartial")
                        @await Html.PartialAsync("_AddClientModal", Model.ClientAddViewModel)
                        @await Html.PartialAsync("_AddAccountModalPartial", Model.AccountAddViewModel)
                        @await Html.PartialAsync("_AddUserModalPartial", Model.UserAddViewModel)
                        @await Html.PartialAsync("_AddBannerModalPartial", Model.BannerViewModel)
                        
                    </div>
                    
                    <div id="target-dashboard">
                        @await Html.PartialAsync("_ClientsTablePartial", Model.ClientListViewModel)
                    </div>
                    <div>
                        @await Html.PartialAsync("_ClientSearchModal", Model.ClientAddViewModel)
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>

@section Scripts{

    <script src="~/assets/js/AutoCompleteAccountDashboard.js"></script>
    <script src="~/assets/js/AutoComplete.js"></script>
    <script src="~/assets/js/ClientDataTransfer.js"></script>
    <script src="~/assets/js/AccountDataTransfer.js"></script>
    <script src="~/assets/js/UserAccountDataTransfer.js"></script>
    <script src="~/assets/js/BannersTransferData.js"></script>

}